@import "../../../scss/variables.scss";
.serve{
    // position: relative;
}
.mainSblock{
    margin: 0px;
    justify-content:space-around;
   
  
}
.ViewSbutton1{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: $txt-white;
     width: 32%;
    // margin-left: 37.5%;
    background: $gray;
    border: none;
    border-radius: 10px $gray;
}
.btnSDiv{
    text-align:center;
     padding-top: 30px;
}
.cardpadding{
    padding: 10px;
}

.Sblock{
       height: 280px;
       margin: 10px;
    //    display: flex;
       flex-wrap: wrap;
       justify-content:center ;
       align-items: center;
       flex-direction: column;
       margin-top: 20px;
       background-color: $offwhite;
}
// .Static{
//     height: 100px;
//     margin-top: 10px;
//     // padding: 20px;
//     text-align: center;
// }
.Sheading{
    text-align: center;
    padding-top: 25px;
}


.services{
 margin-top: 30px;   
// font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 47px;
text-align: center;
color: $txt-black;
}
.technology{
    // font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 63px;
text-align: center;
color: $txt-black;
}
.map{  
// font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 26px;
line-height: 38px;
text-align: center;
color: $txt-sandstone;
}
.carddiv{
    display:flex;
    justify-content:space-evenly;
    margin-top: 66px;
}
.card{
        width: 11rem;
        background: $offwhite;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 29px;
        text-align: center;
        color: $txt-black;
        margin: auto;      
}
.cardPic{
    padding: 20px;
}
// .request{
//     position: relative;
//     background: $gray;
//     border-radius: 5px;
//     width: 24%;
//     // font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 24px;
//     line-height: 35px;
//     left: 38%;
//     top: 40px;
//     bottom: 40px;
//     text-align: center;
//     justify-content: center;
//     color: $txt-white;
// }
