
@import "../../../scss/variables.scss";

.carrier{
    background: $gray;
}
.StartcCareer{
    color: $offwhite;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 42px;
    text-align: center;
    padding-top: 50px;
}
.mainCRow{
    margin: 0px !important;
    justify-content:space-evenly;
     
    padding-bottom: 50px;
}
.sendcv{
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    color: $txt-white;
    padding: 20px;
}