@import "../../../scss/variables.scss";
.looking_main{
    // top: 100px;
    background: $mild-blue;
    padding-bottom: 50px;
    padding-top: 50px;

}
.looking{
    // font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: $primary;
}
.paragraph{
    //  font-family: 'Roboto';
     font-style: normal;
     font-weight: 300;
     font-size: 22px;
     line-height: 28px;
     text-align: center;
     color: $pink;
}
.current{
    // font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    color: $primary;
    text-align: center;
    margin-top: 80px;
}
.buttonsdiv{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.buttons{
    background: #02285B;
    border-radius: 5px;
    border: none;
    // font-family: 'Roboto';
    padding: 8px 20px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 33px;
color: #FFFFFF;
}
.setmargin{
    margin: 0px;
}