@use "../../../scss/base/variables";
@use "../../../scss/base/functions";
@use "../../../scss/mixins/responsive";

.subHeading {
	font-size: functions.px-Rem(28);
	font-weight: variables.$heading-font-weight;
	color: variables.$heading-text-color;
	margin: functions.px-Rem(20) 0;
	@include responsive.display_xs() {
		font-size: functions.px-Rem(22);
	}
}
