$primary:#02285B;
$mild-blue:#DDEBFF;
$gray:#3E5E7E;
$purple:#7259D4;
$blue:#04A8F5;
$cyan   :#5FE0B5;
$pink:#FF6D6B;
$caramel:#E29E4E;
$txt-sandstone:#323232;
$txt-black:#000000;
$txt-white:#FFFFFF;
$border-clr:#928F8F;



