$primary:#02285B;
$mild-blue:#DDEBFF;
$midnight-blue:#14264A;
$cyan-blue :#3D5A80;
$header-btn:#001c42;
$gray:#3E5E7E;
$gray-light :#E5E5E5;
$gray-light-secondary :#FEFEFE;
$offwhite:#F1F1F1;
$txt-white:#FFFFFF;
$purple:#7259D4;
$blue:#04A8F5;
$cyan   :#5FE0B5;
$pink:#FF6D6B;
$red:#FF0000;
$blood-red :#C92020;
$caramel:#E29E4E;
$txt-black:#000000;
$txt-sandstone:#323232;
$border-clr:#928F8F;